(
	name: "the first three",
	// id
	number: 3,
	values: [1,1,2,1,1,2,2,3,3],
	states: [true,true,true,true,true,true,true,true,true],
	flagged: [Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal],
	moves: 1,
)