(
	name: "cheating",
	number: 10,
	values: [0,4,0,0,1,0,0,2,0],
	states: [false,false,false,false,true,false,false,true,false],
	flagged: [Normal,Plus,Normal,Normal,Normal,Normal,Normal,Normal,Normal],
	moves: 1,
)